// grays:
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayLight: #ccc;
@grayLighter: #ddd;
@grayFading: #eee;
@grayDead: #f9f9f9;
@white: #fff;
// text:
@grayText: #525252;
// palette:
@color1: #EA3267;
@color2: #00C3A4;
@color3: #000000;
@color4: #000000;
@color5: #000000;
@color6: #000000;
/*
------------------------------------------------------------------------------------
MIXINS:
------------------------------------------------------------------------------------
*/
@import url('mixins.less');
/*
------------------------------------------------------------------------------------
FONTS:
------------------------------------------------------------------------------------
*/
@font-face {
  font-family:'Regular';
  src: url('../fonts/DINNextLTPro-Regular.eot');
  src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
    url('../fonts/DINNextLTPro-Regular.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-Regular.svg#DINNextLTPro-Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Medium';
  src: url('../fonts/DINNextLTPro-Medium.eot');
  src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
    url('../fonts/DINNextLTPro-Medium.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Bold';
  src: url('../fonts/DINNextLTPro-Bold.eot');
  src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
    url('../fonts/DINNextLTPro-Bold.ttf') format('truetype'),
    url('../fonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
/*
------------------------------------------------------------------------------------
GLOBALS:
------------------------------------------------------------------------------------
*/
html, body { 
  margin: 0; 
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 14px;
}

body {
  font-family: 'Regular', sans-serif; 
  font-size: 1rem;
  line-height: 1.25em;
  letter-spacing: 0;
  color: @grayText; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bold', sans-serif; 
  line-height: 1.25em;
  color: @grayText; 
  margin: 0; 
  padding: 0; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-spacing: normal;
}

h1 { font-size: 2.571rem; }
h2 { font-size: 1.714rem; }
h3 { font-size: 1.143rem; }
h4 { font-size: 1rem; }

strong { 
  font-family: 'Bold';
  font-weight: normal; 
}

ul, ol {
  padding: 0;
  list-style: none;
}

a, i, button { .transition(.25s); }

a, button { 
  text-decoration: none !important;
  outline: 0 none !important; 
}
/*
------------------------------------------------------------------------------------
PRESENTATION:
------------------------------------------------------------------------------------
*/
.hidden { display: none; }

.pos-static { position: static; }
.pos-relative { position: relative; }
.pos-absolute { position: absolute; }

.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }

@gap: 15px;

.no-padding { padding: 0; }
.no-margin { padding: 0; }

.padding-full { padding: @gap; }
.padding-full-large { padding: @gap*2; }
.padding-full-small { padding: @gap/2; }
.padding-v { padding: @gap 0; }
.padding-v-xlarge { padding: @gap*4 0; }
.padding-v-large { padding: @gap*2 0; }
.padding-v-small { padding: @gap/2 0; }
.padding-h { padding: 0 @gap; }
.padding-h-xlarge { padding: 0 @gap*4; }
.padding-h-large { padding: 0 @gap*2; }
.padding-h-small { padding: 0 @gap/2; }

.padding-t { padding-top: @gap; }
.padding-small-t { padding-top: @gap/2; }
.padding-large-t { padding-top: @gap*2; }
.padding-xlarge-t { padding-top: @gap*4; }
.padding-b { padding-bottom: @gap; }
.padding-small-b { padding-bottom: @gap/2; }
.padding-large-b { padding-bottom: @gap*2; }
.padding-xlarge-b { padding-bottom: @gap*4; }

.margin-t { margin-top: @gap; }
.margin-small-t { margin-top: @gap/2; }
.margin-large-t { margin-top: @gap*2; }
.margin-xlarge-t { margin-top: @gap*4; }
.margin-b { margin-bottom: @gap; }
.margin-small-b { margin-bottom: @gap/2; }
.margin-large-b { margin-bottom: @gap*2; }
.margin-xlarge-b { margin-bottom: @gap*4; }
/*
------------------------------------------------------------------------------------
GUI:
------------------------------------------------------------------------------------
*/
.label-control, .form-control { 
  font-family: 'Regular'; 
  font-weight: normal;
}

.form-control {
  background-color: @grayFading;
  .border-radius(0);
  border: 0;
  .box-shadow(none);
}

.form-control:focus,
.uneditable-input:focus {
  border-color: @color1;
  box-shadow: 0 1px 1px @color1 inset, 0 0 8px lighten(@color1,15%);
  outline: 0 none;
}

select, select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../images/dropdown_arrow.png') right 15px center no-repeat !important;
  text-indent: 0.01px;
  text-overflow: "";
  outline: none;
}

.btn {
  font-family: 'Regular';
  padding: @gap/1.5 @gap*1.5;
  .border-radius(0);
  &.full { width: 100%; }
  &.btn-large {
    font-size: 1.4rem;
    padding: @gap*2 @gap*1.5;
  }
  &.centered {
    margin-left: 50%;
    .translateX(-50%);
  }
  &.btn-primary {
    border: 0;
    background-color: @color1;
    &:hover, &:focus, &:active { background-color: @gray; }
  }
}

.fancybox-opened { z-index: 999999; }
.fancybox-overlay { z-index: 999998; }
.fancybox-wrap {
  .fancybox-skin {
    padding: 0 !important;
    .box-shadow(0px 2px 15px 3px rgba(0,0,0,.5));
    .fancybox-close, .fancybox-nav, .fancybox-nav span { .transition(.25s); }
    .fancybox-close {
      position: absolute;
      z-index: 999998;
      top: @gap/2;
      right: @gap/2;
      .square(25px);
      background: url('../images/icon_close.png') center center no-repeat;
      background-size: contain;
      &:hover { opacity: .5; }
    }
    .fancybox-nav span { 
      .square(35px); 
      &:hover { opacity: .5; }
    }
    .fancybox-prev span { 
      left: @gap/2;
      background: url('../images/icon_prev.png') center center no-repeat;
      background-size: contain;
    }
    .fancybox-next span { 
      right: @gap/2;
      background: url('../images/icon_next.png') center center no-repeat;
      background-size: contain;
    }
  }
}

.tooltip {
  margin-top: -10px !important;
  opacity: 1 !important;
  .tooltip-arrow { border-top-color: @color1 !important; }
  .tooltip-inner {
    padding: 10px @gap !important;
    display: block;
    .border-radius(2px);
    background-color: @color1;
  }
}
/*
------------------------------------------------------------------------------------
NON RESPONSIVE:
------------------------------------------------------------------------------------
*/
.container-nr {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px;
}
/*
------------------------------------------------------------------------------------
HEADER:
------------------------------------------------------------------------------------
*/
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: @gap 0;
  background-color: @black;
  .navbar {
    margin-bottom: 0;
    .navbar-header {
      .navbar-toggle {
        margin: 0;
        margin-top: 7px;
        .icon-bar {
          height: 3px;
          background-color: @white;
        }
      }
      .navbar-brand {
        .size(193px,50px);
        background: url('../images/logo.png') center center no-repeat;
        padding: 0;
      }
    }
  }
}
footer, header {
  .navbar-nav {
    li {
      a, a:focus {
        color: @white;
        background-color: transparent;
      }
      &.current a, & a:hover {
        color: @color1;
        background-color: transparent;
      }
    }
  }
}
/*
------------------------------------------------------------------------------------
SECCIONES:
------------------------------------------------------------------------------------
*/
.wrapper { 
  margin: 0; 
  overflow: hidden;
  padding-top: 80px;
}
/*------------------------------------------------------------------------------------*/
header, section, aside, footer {

  .bg {
    &.white { background-color: @white; }
    &.black { background-color: @black; }
    &.gray { background-color: @gray; }
    &.graylight { background-color: @grayFading; }
    &.graydark { background-color: @grayDark; }
    &.color1 { background-color: @color1; }
    &.color2 { background-color: @color2; }
    &.color3 { background-color: @color3; }
    &.color4 { background-color: @color4; }
  }
  .color-1 { color: @color1; }
  .color-2 { color: @color2; }
  .color-3 { color: @color3; }
  .color-4 { color: @color4; }
  .color-w { color: @white; }
  .color-g { color: @grayLight; }

  hr {
    margin: 0;
    border-color: @gray;
    &.white { border-color: @white; }
  }

  p { 
    margin-bottom: @gap*1.5; 
    /*text-align: justify;*/
  }
  p strong { font-family: 'Semibold'; }
  p.large { font-size: 1.067rem; }

  .text-caps { text-transform: capitalize; }
  .text-ucase { text-transform: uppercase; }
  .text-lcase { text-transform: lowercase; }

  .font-regular { font-family: 'Regular'; }
  .font-bold { font-family: 'Bold'; }
  .font-semibold { font-family: 'Semibold'; }
  .font-light { font-family: 'Light'; }

  img.full { width: 100%; }

  .vertical-centered {
    position: absolute;
    margin-top: 40%;
    .translateY(-50%);
  }

  .col-margin-r { padding-right: 60px; }
  .col-margin-l { padding-left: 60px; }
  .col-margin-half-r { padding-right: 30px; }
  .col-margin-half-l { padding-left: 30px; }

  .slider {
    width: 100%;
    width: 1500px;
    margin: 0 auto;
    ul { list-style: none; }
    .owl-controls {
      .owl-nav { display: none; }
    }
    &.has-dots {
      .owl-controls {
        position: absolute;
        top: 0;
        .square(100%);
        .owl-dots {
          position: absolute;
          z-index: 99;
          width: 100%;
          bottom: 0;
          text-align: center;
          margin: @gap 0;
          .owl-dot {
            display: inline-block;
            margin: 0 7.5px;
            span {
              display: block;
              .square(7px);
              .border-radius(100%);
              background-color: @white;
              border: 1px solid @white;
            }
            &.active span { background-color: transparent; }
          }
        }
      }
    }
  }

}
/*------------------------------------------------------------------------------------*/
section#hero {
  position: relative;
  height: 500px;
  background: url('../images/hero_bg.jpg') center center no-repeat;
  background-color: @black;
  background-size: cover;
  .hero-logo {
    position: absolute;
    top: 40%;
    .translateY(-50%);
    .size(80%,156px);
    margin: 0 10%;
    background: url('../images/hero_logo.png') center center no-repeat;
    background-size: contain;
  }
  .section-header1 {
    position: absolute;
    bottom: 0;
    .size(100%,139px);
    background: url('../images/section_header1.png') center center no-repeat;
    opacity: .9;
  }
}
/*------------------------------------------------------------------------------------*/
section#social-media {
  position: relative;
  background-color: @grayLighter;
  .feed {
    width: 100%;
    background-color: @white;
    iframe {
      .size(100%, 300px) !important;
    }
  }
}
/*------------------------------------------------------------------------------------*/
section#bio {
  background-color: @black;
  .section-header2 {
    .size(100%,190px);
    background: url('../images/section_header2.png') center center no-repeat;
    background-color: @grayLighter;
    .section-title { margin-top: 100px; }
  }
}
/*------------------------------------------------------------------------------------*/
section#tour-dates {
  .section-header3 {
    position: relative;
    .size(100%,149px);
    background: url('../images/section_header3.png') center center no-repeat;
    .section-title { margin-top: 60px; }
  }
  table {
    width: 100%;
    table-layout: fixed;
    tr { border-bottom: 1px solid @grayLighter; }
    td { 
      padding: @gap/2; 
      border: 0;
    }
    thead {
      tr {
        td { color: @color1;  }
      }
    }
  }
}
/*------------------------------------------------------------------------------------*/
section#press {
  .section-header4 {
    .size(100%,149px);
    background: url('../images/section_header4.png') center center no-repeat;
    .section-title { margin-top: 60px; }
  }
  .download-press-kit {
    display: block;
    background: url('../images/icon_download.png') left center no-repeat;
    padding: 13.5px 0;
    padding-left: 50px;
    color: @grayText;
    &:hover { color: @color2; }
  }
  .thumb {
    display: block;
    position: relative;
    background-size: cover !important;
    .size(100%,250px);
    .overlay {
      position: absolute;
      .square(100%);
      background: url('../images/icon_zoom.png') center center no-repeat;
      background-color: @color2;
      opacity: 0;
      .transition(.25s);
      .caption {
        position: absolute;
        width: 80%;
        margin: 0 10%;
        top: 50%;
        .translateY(-50%);
      }
    }
    &:hover .overlay { opacity: 1; }
  }
}
/*------------------------------------------------------------------------------------*/
section#contacto {
  background-color: @black;
  .section-header5 {
    .size(100%,149px);
    background: url('../images/section_header5.png') center center no-repeat;
    .section-title { margin-top: 60px; }
  }
  .download-press-kit {
    display: block;
    background: url('../images/icon_download.png') left center no-repeat;
    padding: 13.5px 0;
    padding-left: 50px;
    color: @grayText;
    &:hover { color: @color2; }
  }
  .thumb {
    display: block;
    position: relative;
    .overlay {
      position: absolute;
      .square(100%);
      background: url('../images/icon_zoom.png') bottom @gap*2 center no-repeat;
      background-color: @color2;
      opacity: 0;
      .transition(.25s);
      .caption {
        position: absolute;
        width: 80%;
        margin: 0 10%;
        top: 50%;
        .translateY(-50%);
      }
    }
    &:hover .overlay { opacity: 1; }
  }
}
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
footer {
  .social {
    li {
      display: inline-block;
      margin-right: @gap/3;
      a {
        display: block;
        i.fa {
          display: table-cell;
          font-size: 21px;
          text-align: center;
          vertical-align: middle;
          .square(40px);
          color: @black;
          background-color: @white;
          .border-radius(100%);
        }
        &:hover i.fa { 
          color: @white;
          background-color: @color1; 
        }
      }
    }
  }
  .navbar-nav  {
    li {
      a {
        color: @white;
        &:hover, &:focus, &.active {
          color: @color1;
          background-color: transparent;
        }
      }
    }
  }
  .logo-tripi {
    display: block;
    .size(134px,18px);
    background: url('../images/logo_tripi.png') center center no-repeat;
  }
}
/*
------------------------------------------------------------------------------------
RESPONSIVE:
------------------------------------------------------------------------------------
*/
@import url('responsive.less');