@screen-xs-min: 480px;
@screen-sm-min: 767px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@media (max-width: @screen-sm-min) {

	section#tour-dates {
		table {
			thead { display: none !important; }
			tr {
				td { display: inline-block; }
			}
		}
	}

	footer {
		.social { text-align: center !important; }
		.copy { text-align: center !important; }
		.logo-tripi {
			float: none !important;
			margin-right: auto !important;
			margin-left: auto !important;
		}
	}

}

@media (max-width: @screen-md-min) {

	.margin-b-xs { margin-bottom: @gap !important; }
	.margin-large-b-xs { margin-bottom: @gap*2 !important; }
	.margin-small-b-xs { margin-bottom: @gap/2 !important; }

	.margin-t-xs { margin-top: @gap !important; }
	.margin-large-t-xs { margin-top: @gap*2 !important; }
	.margin-small-t-xs { margin-top: @gap/2 !important; }

	.padding-v-xlarge { padding: @gap*2 0; }
	.padding-h-xlarge { padding: 0 @gap*2; }
	.padding-xlarge-t { padding-top: @gap*2; }
	.padding-xlarge-b { padding-bottom: @gap*2; }
	.margin-xlarge-t { margin-top: @gap*2; }
	.margin-xlarge-b { margin-bottom: @gap*2; }
	
}

/* ------------------------------------------------------------------------------------
NAV:
------------------------------------------------------------------------------------ */

@media (max-width: 1100px) {

}